{% extends 'base.html.twig' %}

{% block title %}Liste des course!{% endblock %}

{% block body %}
<h1 class="tex-center mt-5">Liste de courses </h1>

<div class="container">
    <form class="row" method="POST", action="{{path('app_item_add')}}">
        <div class="mb-3 col-md-4">
            <input type="text" class="form-control" id="liste" placeholder="ajouter un element" name="title">
        </div>  
        <div class="col">
            <button class="btn btn-success" type="submit">
                <i class="fa fa-plus"></i>
            </button>
        </div>
</form>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items%}
                    <tr class="{{item.isCheck ? ' table-danger' :' '}}">
                        <td class="{{item.isCheck ? ' text-decoration-line-through' :' '}}">{{item.title}}</td>
                        <td >
                            <div>
                                <a class="btn btn-primary" href="{{path('app_item_edit',{id:item.id})}}">
                                    <i class="fa fa-check"></i>
                                </a>
                                <a class="btn btn-danger" href="{{path('app_item_remove',{id:item.id})}}">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</div>

{% endblock %}
